body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    
}

.container {
    margin-top: 10vw;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: aqua;
}